form{
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.form_taskInput{
    height: 35px;
    width: 100%;
    font-size: 18px;
    padding: 0 8px;
    outline: none;
    transition: all .5s ease-in-out;
    border-radius: 50px;
    border: none;
}

.form_addButton{
    background-color: #000;
    border: none;
    height: 35px;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
}